.status-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2em 0.5em;
  height: 22px;
  line-height: 22px;
  background: #eee;
  font-size: 90%;

  &.error {
    color: #900;
  }
}
